.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6b727a;
    color: #fff;
    padding: 0 5px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0,2);
    min-height: 70px;
    transition: 0.15 ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.10);
}



.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon.ativo{
    background-color: green;
}